body{
 font-family: Sans-Serif ;
 margin : 0px;
}

.header{
 background-color: lavender;
    color: lime;
 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
.nav-menu{
background-color: lavender;
text-transform: uppercase;
font-weight: bold;
}
header ul{
  display: flex;
}
.element{
  float: left;
  line-height: 1.5;
  color: mediumslateblue;
}
ul {
	list-style: none;	
 	padding: 23px;
}
a{
	text-decoration: none;
	color: black;
	font-size: medium;
	letter-spacing: 0.08em;
}

.nav-menu li {
	margin-right: 60px;
/* 	float:left; */
	
}


