body{
 font-family: Sans-Serif ;
 margin : 0px;
}

header{
 background-color: lavender;
    color: lime;
 /* display: flex; */
 text-transform: uppercase;
font-weight: bold;

}
header ul a{
  padding-left: 15px;
}
header ul{
  display: flex;
  margin-top: 0px;
}
.container{
overflow: auto;
}
.element{
  float: left;
  line-height: 1.5;
  color: mediumslateblue;
}
ul {
	list-style: none;	
  /* padding-left: 23px; */
}
a{
	text-decoration: none;
	color: black;
	font-size: medium;
	letter-spacing: 0.08em;
}
.paper{
	color:black;
	font-size: medium;
	letter-spacing: 0.08em;
	line-height: 1.5;
	margin: 0.9rem;
}

hr{
    opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
}

.col-md-4{
margin-left: 30px;
width: 200px;
display: inline-block;
/* text-overflow: ellipsis;
overflow: hidden; */
white-space: nowrap;
vertical-align: middle;
}

/* .col-md-4:hover{
 overflow:visible;
 white-space: normal;
} */

.dropdowne{
  color: #12a7d6;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    margin-right: 20px;
    cursor: pointer;
}

.button{
  color: #12a7d6;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    margin-right: 20px;
    cursor: pointer;
}




ul.nav-menu li{
  /* padding-right: 30px;
  padding-left: 30px; */
  max-width:135px;
  height: 40px;
  padding-top: 20px;
}

ul.nav-menu li:hover{
  /* background-color:cornflowerblue; */
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);   
}


