body{
 font-family: Sans-Serif ;
 margin : 0px;
}

.header{
 background-color: lavender;
    color: lime;
 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
.nav-menu{
background-color: lavender;
}
ul {
	list-style: none;
	display: flex;
 	padding: 23px;
}
a{
	text-decoration: none;
	color: lime;
	font-size: larger;
}

.nav-menu li {
	margin-right: 60px;
/* 	float:left; */
	
}


