body{
 font: Arial, Helvetica, Sans-Serif ;
 margin: auto;
}

.header{

 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
ul {
	list-style: none;
}

.nav-menu li {
	display:block;
	width:120px;
	float:left;
	margin:auto;
	
}


