body{
 font-family: Sans-Serif ;
 margin : 0px;
}

.header{
 background-color: lavender;
    color: lime;
 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
.nav-menu{
background-color: lavender;
text-transform: uppercase;
font-weight: bold;
}
header ul{
  display: flex;
}
.container{
overflow: auto;
}
.element{
  float: left;
  line-height: 1.5;
  color: mediumslateblue;
}
ul {
	list-style: none;	
 	padding: 23px;
}
a{
	text-decoration: none;
	color: black;
	font-size: medium;
	letter-spacing: 0.08em;
}
.paper{
	color:black;
	font-size: medium;
	letter-spacing: 0.08em;
	line-height: 1.5;
	margin: 0.9rem;
}

hr{
    opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
}

.nav-menu li {
	margin-right: 60px;
/* 	float:left; */
	
}

.col-md-4{
margin-left: 30px;
margin-right: 200px;
}


