body{
 font-family: Sans-Serif ;
}

.header{
 background-color: lavender;
    color: lime;
 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
.nav-menu{
background-color: lavender;
}
ul {
	list-style: none;
	display: flex;
	padding: 30px;
	margin: 0px;
}
a{
	text-decoration: none;
	color: limegreen;
	font-size: larger;
}

.nav-menu li {
	margin: auto;
	float:left;
	
}


