body{
 font: Arial, Helvetica, Sans-Serif ;
}

.header{

 display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-item{
display: flex;
}
ul {
	list-style: none;
	display: flex;
}

.nav-menu li {
	margin: auto;
	float:left;
	
}


